// SIDEBAR- STYLES

.sidebar{
    width: 0px;
    position: fixed;
    overflow: hidden;
    transition: all 0.1s ease;
    z-index: 1;

    &.active{
        width: 274px;
    }

    @include media-breakpoint-down(md){
        &.active{
            width: 274px;
        }
    }

    .sidebar-wrapper{
        height: 100vh;
        height: 100vh;
        overflow: hidden auto;
        position: -webkit-sticky;
        position: sticky;

        &::-webkit-scrollbar{
            width: 10px;
        }
        &::-webkit-scrollbar-track{
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #7777776b;
            border-radius: 20px;
            border: transparent;
        }
    }
    
}

.offcanvas-body{

    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #7777776b;
        border-radius: 20px;
        border: transparent;
    }
}

.sidebar_footer{
    background-color: #f1f1f1;
    position: absolute;
    bottom: 84px;
    width: 278px;
}

// Main Dashboard styles


// User Block
.user-block{
    width: 100%;
    background-image: url("../../dist/images/sidebar/sidebar_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .info{
        background-color: rgb(1,4,4,0.37);
    }
}

// sidebar-nav styles
.label,.sidebar-item,li{
    list-style-type: none;
}
// sidebar-nav-dropdown-styles
.sidebar-link{
    border-radius: 5px;
    color: #99ABB4;

     .extreme-right{
        transform: rotate(0deg);
        transition: transform 0.3s ease;
     }
  &.active{
    background-color: #26C6DA;
    color: white;
      .extreme-right{
        transform: rotate(-90deg);
     }
     img{
        filter: brightness(10);
     }

  }
}
.first-label{
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.3s ease;
    a{
        color: #99ABB4;
        &:hover{
            color: #67757C;
        }
    }
  .wrapper{
     overflow: hidden;
  }
  &.in{
    grid-template-rows:1fr;
  }
}



// Main Dashboard Section //

// Dashboard Block
.bharat-icon{
    width: 88%;
}

// dashboard chart-styles
.chart-wrapper{
    width: 65px;
}

// Bandwidth


// Dashboard major block styles

.card-block{
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 50px 0px rgba(33, 150, 243, 0.10);
}

// Business Development styles
.business-development{
    .business-bg{
        position: relative;
        top: -30px;
    }
}

// Third row - Weather Block Styles
.weather-block{
    .upper-block{
        img{
            width: 100%;
        }
    }
}

// contacts styles
.my-contacts{
    .user-icon{
        top: 5px;
    }
    .active-icon{
        top: 5px;
    }
}

// Activity
.activity-block{
    .upper-block{
        border-bottom: 1px solid rgba(153, 171, 180, 0.20);
        .activity{
            border-bottom: 2px solid $primary;
        }
    }

    .activity-wrapper{
        position: relative;
        &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 18px;
        width: 2px;
        height: 100%;
        background: rgba(153, 171, 180, 0.20);
        }
    }

}

// offcanvas style

.search-offcanvas{
    height: 85px !important;

    .offcanvas-header{
        height: 100%;

        input{
            height: 100%;
            font-size: 25px;
            outline: none;

            &:hover{
                border: none;
            }
        }
    }
}

.dropdown-toggle::after{
    display: none;
}


// dropdown-menu
    .menus{
        width: 300px;
        border: none;
    }

    .country-dropdown{
        border: none;
        background-color: #ffff;
    }

    // dashboard

    .dashboard{
        margin-left: 0px;
        transition: all 0.1s ease;
        &.in{
            margin-left: 274px;            
        }

        @include media-breakpoint-down(md){
            &.in{
                margin-left: 0px;            
            }
        }

    }

    // header-styles

    header{
        .grid-icon{
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
    }

    // tabs styles
    

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        border: 0px solid transparent;
        border-bottom: 2px solid #1e88e5;
        color: #1e88e5;
        
        img{
            filter: invert(66%) sepia(54%) saturate(7130%) hue-rotate(187deg) brightness(93%) contrast(93%);
        }
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
        color: #1e88e5;
        border-right-color: transparent;
        border-left-color: transparent;
        img{
            filter: invert(66%) sepia(54%) saturate(7130%) hue-rotate(187deg) brightness(93%) contrast(93%);
        }
     }

    .info{
        border-right: 1px solid #e9ecef;
        border-left: 1px solid #e9ecef;
    }

    // activity

    .activity-logo{
       z-index: 1;
    }
    // 
    .tab-pane{
        input,textarea,select{
            outline: none !important;
            border-radius: 0 !important;
            &::placeholder{
                color: #99ABB4 !important;
                opacity: 1 !important;
            }
            &:focus{
                border-bottom: 2px solid $primary !important;
                box-shadow: none !important;
            }
        }
    }

    // Grid-dropdown

    // .grid-dropdown{
    //     position: relative;

    //     .dropdown{
    //         width: 100vw;
    //         position: absolute;
    //         bottom: 0;
    //     }
    // }

    // Grid-dropdown

    .grid-megadropdown{
        position: fixed;
        width: 100%;
        background-color: rgb(255 255 255);
        top: 83px;
        left: 0;
        z-index: 3;
    }

    .owl-nav{
        position: absolute;
        top: 0;
        button.owl-prev{
            position: absolute;
            top: 6rem;
            span{
                font-size: 50px;
                font-weight: 200;
            }
            &:hover{
                background:none !important;
                text-decoration: none !important;
                color: black !important;
            }
        }
        button.owl-next{
            position: absolute;
            left: 24rem;
            top: 6rem;
            font-size: 20px;
            span{
                font-size: 50px;
                font-weight: 200;
            }
            &:hover{
                background:none !important;
                text-decoration: none !important;
                color: black !important;
            }
        }
    }

    // Acccordian

    .accordion-button:focus {
        z-index: 3;
        border-color: none;
        outline: 0;
        box-shadow: none;
    }

    // Grid-Mega-Dropdown

    .grid-megadropdown{
        display: none;
        visibility: hidden;
        &.grid{
            display: block;
            visibility: visible;
        }
        input,textarea{
            &:focus{
                border: 1px solid #67757C;
                box-shadow: none !important;
            }
        }
    }

    // list style
    .list-style{
        a{
            &:hover{
               span{
                   color: #26C6DA !important;
               }
            }
        }
    }